<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title >Change Password Form</title>
</head>
<body>
<section>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>
    <div id="login">
         <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box"  style="height:200px;"class="col-md-12">
     

                    <h3>Enter new password</h3>
                    <form th:action="@{/change-password}" method="post">
                    
                   
                    <div class="form-group">
                    
                    
                    <input name="newpassword" required type="password" placeholder="Enter Here" class="form-control"/>
                    
                    
                    <div class="container text-center m-2">
                    
                    <button type="submit" class="btn btn-success">Change Password</button>
                    </div>
                    </div>
                    
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</section>

</body>
</html>